body {
  background-color: blue;
}
header {
  margin-bottom: 5%;
  border-bottom:2px solid black;
}
header h1, p{
  text-align: center;
}
.column-1 {
  background-color: yellow;
  float: left;
  width: 40%;
  margin-left: 6%;
  padding: 5px;
  border:2px solid black;
  border-radius: 5px;
}
.column-1 h2, p {
  text-align:center;
}
.column-1 a {
  text-decoration: none;
  color:gray;
}
.column-1 a:hover {
  font-weight:bold;
}
.column-2 h2, p {
  text-align:center;
}

.column-2 {
    background-color: red;
    float:right;
    width: 40%;
    margin-right: 6%;
    padding: 5px;
    border:2px solid black;
    border-radius: 5px;
}
.wrapper {
  clear:both;
  padding-top: 5%;
  
}
footer {
  text-align: center;
}
